<html>
<head>
<title>diary website</title>
<link rel="stylesheet" href="/static/style_home.css">
<link href="https://fonts.googleapis.com/css? family-Dosis&display=swap" rel="stylesheet">
</head>
<body>
  <div class="hero">
    <div class="navbar">
        <img src="/static/diary1.jpg">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    <div class="navbar-icons">
        <img src="/static/bell.png">
        <img src="/static/user.png">
        <img src="/static/menu.png">
    </div>
    </div>
    <div class="banner">
        <div class="left-column">
            <h1>Dear<span>Diary</span></h1>
            <h3>Where every thought finds solace,<span>and every emotion finds its voice</span></h3>
           <p>
            Step into the world of Dear Diary, where your words are not just heard, but felt.<br>
            Through the magic of voice-to-text technology, we invite you to speak your truth,<br> 
            share your joys, and release your sorrows with the power of your voice.<br>From 
            moments of exuberant laughter to the depths of heartfelt sorrow.
           </p>
        <div class="btn">
            <button type="button" class="primary-btn">Learn More</button>
            <button type="button">watch video</button>
        </div>
    </div>
        <div class="right-column">
            <img src="/static/book-bindings-3176776_1280.jpg">
        </div>
</div>
</body>
</html>